body {
    background-color: blanchedalmond;
    opacity: 0.9;
    display: flex;
    font-family: Verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
}

* {
    box-sizing: border-box;
}
 
.title {
    text-align: center;
    letter-spacing: 0.7px;
    font-size: 20px;
    color: firebrick;
    opacity: 0.9;
    font-family: Barrio;
}

.sat {
    padding: 20px 20px 20px 20px;
    border-radius: 60px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.sub_title {
    padding: 10px 10px 10px 10px;
    color: seashell;
    border: none;
    background-color: black;
    box-shadow: 13px 13px 20px #555, -13px -13px 20px #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.des {
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 12px 10px 10px 10px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}


.btn {
    padding: 10px 10px;
    background-color: coral;
    border-color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
